<a href="/create">Create</a>
<a href="/read">Read</a>
<a href="/readById">Read by id</a>
<a href="/update">Update</a>
<a href="/delete">Delete</a>
<div>
    <ul>
        {{#each someData}}
        <li>Id: {{ this._id }}</li>
        <li>Назва: {{ this.name }}</li>
        <li>Виробник: {{ this.origin }}</li>
        <li>Ціна: {{ this.price }}</li>
        <li>Тип: {{ this.type }}</li>
        <li>Кількість: {{ this.quantity }}</li>
        <br />
        {{/each}}
    </ul>
</div>

<style>
    ul {
        list-style: none;
    }
</style>